/* * {
    border:solid 2px black
} */

body {
    display: flex;
    justify-content: center;
}
.calculator-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 450px;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    gap:12px;
}
.display {
 flex-grow: 1;
 max-height: 100px;
 background-color: rgb(255, 255, 255);
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10px;
 font-size: xx-large;
 
}

.functions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* gap:20px; */
}

.equals {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 95, 0);
    height: 45px;
    margin: 0px 10px;
    border-radius: 24px;
    font-size: xx-large;
    font-weight: 700;
    transition: all 0.2s ease;
}


.button-container {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}



.row {
    display: flex;
    justify-content: space-evenly;
    
}


.row div {
    height: 45px;
    width:45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
    transition: all 0.2s ease;

}
.operation {
    background-color: lightblue
}

.number {
    background-color: rgb(255, 255, 0);
}

#delete, #decimal {
    background-color: rgb(255, 140, 0);
}

.row div:hover {
    opacity: 0.7;
    scale: 1.1;
}

.equals:hover {
    opacity: 0.7;
    scale: 1.05;
}
